---
title: Novemberde's blog
---
{% include showcase.html %}
{% include greeting.html %}

{% if site.posts != empty %}
<div class="recent-posts">
  <h1>RECENT</h1>
  {% for post in site.posts limit: 6 %}
    {% if forloop.first %}
      {% assign add_class = 'most-recent' %}
      {% capture fresh_tag %}
        &nbsp;<span class="badge"><smaller>FRESH</smaller></span>
      {% endcapture %}
    {% endif %}
    <div class="article-card">
      <span>
          <h4>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            {{ fresh_tag }}
            <time class="pull-right post-list">{{ post.date | date_to_string | date: "%b %-d, %Y"  }}</time>
          </h4>
        </span>
        <p>{{ post.excerpt | strip_html | truncatewords: 75 }}</p>
    </div>
    {% assign add_class = '' %}
    {% assign fresh_tag = '' %}
  {% endfor %}
  <ul class="float-left">
    <h4><a href="{{ site.baseurl }}/list.html">View More...</a></h4>
  </ul>
</div>
{% endif %}
