.container.svelte-1a9i6wb{position:fixed;overflow:hidden;float:left;height:150%;width:150%;margin:0;padding:0}.dot.svelte-1a9i6wb{height:25px;width:25px;background-color:gray;float:left}.dot.primary.svelte-1a9i6wb{background-color:#ff7c61}.dot.secondary.svelte-1a9i6wb{background-color:#1affb0}.dot.tertiary.svelte-1a9i6wb{background-color:#ffd336}.dot.quaternary.svelte-1a9i6wb{background-color:#ffffff}h1.svelte-1a9i6wb{position:fixed;top:calc(50% - 100px);left:calc(50% - 50px)}.my-input.svelte-1a9i6wb{position:fixed;height:40px;width:300px;top:50%;left:50%;transform:translate(-50%, -50%)}.my-input.svelte-1a9i6wb input.svelte-1a9i6wb{font-size:30px;height:100%;width:100%;box-sizing:border-box}.memory.svelte-1a9i6wb{font-size:30px;padding-top:20px;font-weight:bold}.progress.svelte-1a9i6wb{position:fixed;top:50%;left:50%;transform:translate(-50%, -50%);height:calc(var(--progress-outer-height));width:calc(var(--progress-outer-width));background:linear-gradient(to right, #2196f3 99.99%, transparent),
    linear-gradient(to bottom, #2196f3 99.99%, transparent),
    linear-gradient(to right, #2196f3 99.99%, transparent),
    linear-gradient(to bottom, #2196f3 99.99%, transparent);background-size:100% var(--progress-border-size),
    var(--progress-border-size) 100%, 100% var(--progress-border-size),
    var(--progress-border-size) 100%;background-repeat:no-repeat;animation:svelte-1a9i6wb-progress 3s linear infinite;background-position:calc(0px - var(--progress-outer-width)) 0px,
    calc(var(--progress-outer-width) - var(--progress-border-size))
    calc(0px - var(--progress-outer-height)),
    var(--progress-outer-width)
    calc(var(--progress-outer-height) - var(--progress-border-size)),
    0px var(--progress-outer-height)}@keyframes svelte-1a9i6wb-progress{0%{background-position:calc(0px - var(--progress-outer-width)) 0px,
    calc(var(--progress-outer-width) - var(--progress-border-size))
      calc(0px - var(--progress-outer-height)),
    var(--progress-outer-width)
      calc(var(--progress-outer-height) - var(--progress-border-size)),
    0px var(--progress-outer-height)}38%{background-position:0px 0px,
    calc(var(--progress-outer-width) - var(--progress-border-size))
      calc(0px - var(--progress-outer-height)),
    var(--progress-outer-width)
      calc(var(--progress-outer-height) - var(--progress-border-size)),
    0px var(--progress-outer-height)}50%{background-position:0px 0px,
    calc(var(--progress-outer-width) - var(--progress-border-size)) 0px,
    var(--progress-outer-width)
      calc(var(--progress-outer-height) - var(--progress-border-size)),
    0px var(--progress-outer-height)}88%{background-position:0px 0px,
    calc(var(--progress-outer-width) - var(--progress-border-size)) 0px,
    0px calc(var(--progress-outer-height) - var(--progress-border-size)),
    0px var(--progress-outer-height)}100%{background-position:0px 0px,
    calc(var(--progress-outer-width) - var(--progress-border-size)) 0px,
    0px calc(var(--progress-outer-height) - var(--progress-border-size)),
    0px 0px}}

/*# sourceMappingURL=bundle.css.map */