---
layout: default
---
<div id="article">
  <div class="article-title">{{ page.title }}</div>
  <p class="meta">
    <small>
      &nbsp;<i class="fa fa-calendar-o"></i> {{ page.date | date_to_string}}
    </small>
  </p> <hr/>
  <div class="post">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Header-ad -->
    <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-8620431066400094"
          data-ad-slot="8922569761"
          data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    {{ content }}
    <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
    <!-- Footer-ad -->
    <div class="b overflowHidden">
      <a href="https://www.rocketpunch.com/jobs/37373">
        <img src="/images/recruit.png">
      </a>
    </div>
    <!--ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8620431066400094" data-ad-slot="9491095458" data-ad-format="auto"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script-->
  </div>
</div>
{% include share.html %}
{% include pager.html %}
{% include comment.html %}
